<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Ordenes</title>
</head>
<body>
	<h1 layout:fragment="header">Ordenes</h1>
	<div layout:fragment="content" class="container">

		<div class="row">
			<div class="col-md-2"><b>Cliente</b></div>
			<div class="col-md-2"
				th:text="${order.customer.firstname}+' '+${order.customer.name}"></div>
		</div>
		
		<div class="row">
			<div class="col-md-2"><b>Precio Total</b></div>
			<div class="col-md-2" th:text="${order.totalPrice()}"></div>
		</div>

		<div class="row">
			<h2>Dirección de Shipping </h2>
		</div>

		<div class="row">
			<div class="col-md-2"><b>Calle</b></div>
			<div class="col-md-2" th:text="${order.shippingAddress.street}"></div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Código Postal</b></div>
			<div class="col-md-2" th:text="${order.shippingAddress.zip}"></div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Ciudad</b></div>
			<div class="col-md-2" th:text="${order.shippingAddress.city}"></div>
		</div>


		<div class="row">
			<h2>Dirección de Billing</h2>
		</div>

		<div class="row">
			<div class="col-md-2"><b>Calle</b></div>
			<div class="col-md-2" th:text="${order.billingAddress.street}"></div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Código Postal</b></div>
			<div class="col-md-2" th:text="${order.billingAddress.zip}"></div>
		</div>
		<div class="row">
			<div class="col-md-2"><b>Ciudad</b></div>
			<div class="col-md-2" th:text="${order.billingAddress.city}"></div>
		</div>

		<div class="row">
			<h2>Detalle de Orden</h2>
		</div>

		<div class="row">
			<div class="col-md-2"><b>Cantidad</b></div>
			<div class="col-md-2"><b>Item</b></div>
			<div class="col-md-2"><b>Precio</b></div>

		</div>

		<div class="row" th:each="orderLine : ${order.orderLine}">
			<div class="col-md-2" th:text="${orderLine.count}"></div>
			<div class="col-md-2" th:text="${orderLine.item.name}"></div>
			<div class="col-md-2" th:text="${orderLine.item.price}"></div>
		</div>
	</div>
</body>
</html>